body{
    width: 80%;
    margin: auto auto;
    background-image: url(../images/pacmanimages/ghostbackground.jpg);
}
header{
    background-color: black;
}
h1{
    font-size: 2em;
    color: white;
    text-align: center;
}
div{
    position: absolute;
}
#maze{
    left:250px;
    top: 60px;
}
#pacman{
    left:546px;
    top: 627px;
    transition: transform 5s;
    animation: movingPacman 10s linear 0s infinite;
}
#greenghost{
    left:520px;
    top: 339px;
    transition: transform 5s;
    animation: movingGreenghost 10s linear 0s infinite;
}
#pinkghost{
    left:723px;
    top: 480px;
    transition: transform 5s;
    animation: movingPinkghost 10s linear 0s infinite;
}
#redghost{
    left:320px;
    top: 580px;
    transition: transform 5s;
    animation: movingRedghost 10s linear 0s infinite;
}
#yellowghost{
    left:720px;
    top: 242px;
    transition: transform 5s;
    animation: movingYellowghost 10s linear 0s infinite;
}
#cherry{
    left:320px;
    top: 180px;
}

@keyframes movingPacman{
    8% {transform: translateX(-50px);}
    16% {transform: translateX(-50px) translateY(-50px);}
    24% {transform: translateX(-100px) translateY(-50px) ;}
    32% {transform: translateX(-100px) translateY(-100px);}
    40% {transform: translateX(-145px) translateY(-100px) ;}
    90% {transform: translateX(-145px) translateY(-450px) ;}
    100% {transform: translateX(-225px) translateY(-450px) ;}
}
@keyframes movingRedghost{
    8% {transform: translateY(50px);}
    32% {transform: translateX(180px) translateY(50px);}
    40% {transform: translateX(180px) translateY(0px) ;}
    48% {transform: translateX(130px) translateY(0px);}
    56% {transform: translateX(130px) translateY(-50px) ;}
    64% {transform: translateX(80px) translateY(-50px) ;}
    100% {transform: translateX(80px) translateY(-350px) ;}
}
@keyframes movingPinkghost{
    8% {transform: translateY(50px);}
    12% {transform: translateX(-35px) translateY(50px);}
    20% {transform: translateX(-35px) translateY(100px);}
    28% {transform: translateX(-80px) translateY(100px);}
    36% {transform: translateX(-80px) translateY(50px);}
    52% {transform: translateX(-180px) translateY(50px);}
    60% {transform: translateX(-180px) translateY(0px);}
    76% {transform: translateX(-83px) translateY(0px);}
    100% {transform: translateX(-83px) translateY(-150px) ;}
}
@keyframes movingGreenghost{
    8% {transform: translateX(-72px);}
    30% {transform: translateX(72px);}
    38% {transform: translateX(72px) translateY(50px);}
    56% {transform: translateX(220px) translateY(50px);}
    56.1% {transform: translateX(-210px) translateY(50px);}
    73% {transform: translateX(-122px) translateY(50px);}
    100% {transform: translateX(-122px) translateY(-150px) ;}
}
@keyframes movingYellowghost{
    12% {transform: translateX(-80px);}
    36% {transform: translateX(-80px) translateY(145px);}
    44% {transform: translateX(-127px) translateY(145px);}
    52% {transform: translateX(-127px) translateY(95px);}
    60% {transform: translateX(-177px) translateY(95px);}
    68% {transform: translateX(-177px) translateY(45px);}
    76% {transform: translateX(-127px) translateY(45px);}
    84% {transform: translateX(-127px) translateY(0px);}
    100% {transform: translateX(-227px) translateY(0px) ;}
}